.Card,
.front,
.back {
  min-width: 100px;
  height: 100px;
}

.Card {
  position: relative;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  overflow: hidden;
  transition: transform 0.8s ease;
}
.back {
  transform: rotateY(180deg);
}

.Card--active .front {
  transform: rotateY(-180deg);
}
.Card--active .back {
  transform: rotateY(0deg);
}
.Card {
  perspective: 175px;
}
