.Card,
.front,
.back {
  margin: 0 10px 5px 0;
  height: 125px;
  width: 100px;
  border-radius: 5px;
  overflow: hidden;
}

.Card {
  position: relative;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  overflow: hidden;
  transition: transform 0.8s ease;
}
.back {
  transform: rotateY(180deg);
}

.Card--active .front {
  transform: rotateY(-180deg);
}
.Card--active .back {
  transform: rotateY(0deg);
}
.Card {
  perspective: 175px;
}
